*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5DC;
}
header{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header .logo{
    width: 80px;
    height: 80px;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}
header .logo .material-symbols-outlined{
    color: #F28B82;
    font-size: 60px;
}
header .menu-upper{
    width: 50%;
}
header .menu-upper .menu-upper-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
header .menu-upper .menu-upper-list a{
    text-decoration: none;
    color: black;
    position: relative;
}
header .menu-upper .menu-upper-list a::after{
    width: 0px;
    height: 5px;
    content: " ";
    top: 35px;
    left: 0;
    background-color: #F28B82;
    position: absolute;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}
header .menu-upper .menu-upper-list a:hover::after{
    width: 100%;
}
header .button-area{
    width: 161px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: #F28B82;
    color: #ffff;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}
/*TODO Start Main*/
/*? start-post*/
main {
    margin: 100px;
}
main .post-main{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
main .post-main .text-content{
    width: 600px;
}
main .post-main .text-content h1{
    font-size: 50px;
}
main .post-main .text-content h1 span{
    color: #F28B82;
}
main .post-main .text-content p{
    font-size: 20px;
    max-width: 480px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}
main .post-main .text-content .post-main-button{
    width: 161px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: #F28B82;
    color: #ffff;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}
main .post-main .image-content{
    width: 400px;
}
main .post-main .image-content img{
    width: 450px;
    margin-top: 40px;
}